*{
  margin:0;
  padding:0;
}

body {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  height: 100vh; /* ให้ body เต็มสูงของ viewport */
  margin: 0; /* ลบ margin ของ body */
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 800px;
  background: #e4e4e4;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card > img {
  width: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.name-title {
  overflow: hidden;
}

.name-title h1,
.name-title span {
  word-wrap: break-word;
  overflow: hidden; /* ป้องกันข้อความขยายเกินขอบของ name-title */
  text-overflow: ellipsis; /* แสดง ... เมื่อข้อความเกินขอบ */
}

.name-title span {
  display: block; /* แสดงเป็นบรรทัดใหม่เมื่อเกินขอบ */
}

.pd-text {
  text-indent: 2em;
}


.mt-2 {
  margin-top: 5px;
}

.mt-4{
  margin-top: 12px;
}

